version: '3.8'  
services:  
  db:  
    image: postgres:latest  
    environment:  
      POSTGRES_DB: mydatabase  
      POSTGRES_USER: user  
      POSTGRES_PASSWORD: password  
    volumes:  
      - db_data:/var/lib/postgresql/data  
    networks:  
      - backend_network  
  backend:  
    build: ./backend  
    ports:  
      - '8000:8000'  
    depends_on:  
      - db  
    networks:  
      - backend_network  
  frontend:  
    build: ./frontend  
    ports:  
      - '3000:3000'  
    networks:  
      - frontend_network  
networks:  
  backend_network:  
  frontend_network:  
volumes:  
  db_data:  
